<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sdkj.thermal.mapper.HtStrategyPerformMapper">

    <!-- 根据任务ID和命令索引查询策略执行记录 -->
    <select id="queryStrategyPerformListByTasksIdAndIndex" resultType="org.sdkj.thermal.domain.HtStrategyPerform">
        SELECT * FROM ht_strategy_perform
        WHERE tasks_id = #{tasksId} AND command_index = #{commandIndex}
        LIMIT 1
    </select>

</mapper>
