<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sdkj.thermal.mapper.PrHeatValveArchiveMapper">

    <!-- 新奥阀门数据查询 -->
    <select id="getLTValveData" resultType="org.sdkj.thermal.domain.dto.LtValveDataResponse">
        SELECT a.meter_num         AS meterNum,
               a.valve_status      AS valveStatus,
               a.setting_status    AS settingStatus,
               a.actual_status     AS actualStatus,
               a.in_temperature    AS inTemp,
               a.out_temperature   AS outTemp,
               a.voltage           AS voltage,
               a.valve_time        AS valveTime,
               a.reporting_interval AS reportInterval,
               a.interval_unit     AS reportingUnit,
               a.valid_time        AS validTime,
               a.signal_strength   AS csq,
               b.org_name          AS orgName,
               b.building_name     AS buildingName,
               b.unit_code         AS unitCode,
               b.room_num          AS roomNum
        FROM pr_heat_valve_archive a
                 INNER JOIN pr_house b ON b.id = a.house_id
        WHERE a.is_changed = 0
          AND a.meter_arc_code &lt;&gt; '04310101'
          AND a.valve_status IS NOT NULL
          AND a.meter_num IN
              <foreach collection="meterList" item="meterNum" open="(" separator="," close=")">
                  #{meterNum}
              </foreach>
    </select>

</mapper>
