<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sdkj.thermal.mapper.PrHouseExpenseMapper">

    <select id="selectPageList" resultType="org.sdkj.thermal.domain.vo.PrHouseExpenseVo">
        SELECT a.id, a.house_id, a.item_code, a.item_group, a.standard_id,
               a.org_id,
               b.room_num,
               c.user_name,
               c.phone,
               c.user_id,
               d.name,
               d.standard_price,
               d.money_formula,
               d.step_type,
               e.item_name
        FROM pr_house_expense a
        LEFT JOIN pr_house b ON a.house_id = b.id
        LEFT JOIN pr_user_house c ON c.house_id = b.id AND c.del_flag = '0'
        LEFT JOIN pr_standard d ON a.standard_id = d.id
        LEFT JOIN pr_expense_item e ON a.item_group = e.item_group AND a.item_code = e.item_code
        WHERE b.del_flag = '0'
        <if test="orgId != null and orgId != ''">
            AND a.org_id = #{orgId} AND e.org_id = #{orgId}
        </if>
        <if test="buildingId != null and buildingId != ''">
            AND b.building_id = #{buildingId}
        </if>
        <if test="unitCode != null and unitCode != ''">
            AND b.unit_code = #{unitCode}
        </if>
        <if test="itemGroup != null and itemGroup != ''">
            AND a.item_group = #{itemGroup}
        </if>
        <if test="itemCode != null and itemCode != ''">
            AND a.item_code = #{itemCode}
        </if>
        <if test="search != null and search != ''">
            AND (b.room_num LIKE CONCAT('%', #{search}, '%') OR c.phone LIKE CONCAT('%', #{search}, '%'))
        </if>
        GROUP BY b.building_name, b.room_num, a.item_group, a.item_code
        ORDER BY b.room_num, a.item_group, a.item_code
    </select>

    <select id="selectUnboundHouses" resultType="org.sdkj.thermal.domain.vo.PrHouseVo">
        SELECT id, room_num,
               #{itemGroup} AS item_group,
               #{itemCode} AS item_code,
               #{itemName} AS item_name
        FROM pr_house
        WHERE id NOT IN (
            SELECT a.id FROM pr_house a
            LEFT JOIN pr_house_expense c ON c.house_id = a.id
            WHERE a.del_flag = '0' AND a.org_id = #{orgId} AND c.org_id = #{orgId}
              AND c.item_group = #{itemGroup} AND c.item_code = #{itemCode}
        )
        AND org_id = #{orgId} AND del_flag = '0'
        <if test="buildingId != null and buildingId != ''">
            AND building_id = #{buildingId}
        </if>
        <if test="unitCode != null and unitCode != ''">
            AND unit_code = #{unitCode}
        </if>
        <if test="search != null and search != ''">
            AND room_num = #{search}
        </if>
    </select>

    <select id="selectUnboundItems" resultType="org.sdkj.thermal.domain.vo.PrExpenseItemVo">
        SELECT id, item_group, item_code, item_name
        FROM pr_expense_item
        WHERE item_code NOT IN (
            SELECT item_code FROM pr_house_expense
            WHERE org_id = #{orgId}
              AND house_id = (SELECT id FROM pr_house WHERE room_num = #{roomNum} AND org_id = #{orgId} AND del_flag = '0')
        )
        AND org_id = #{orgId} AND item_group != '5'
        ORDER BY item_group, item_code
    </select>

</mapper>
