<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sdkj.thermal.mapper.PrHouseLogMapper">

    <select id="selectHouseChangeData" resultType="org.sdkj.thermal.domain.PrHouseLog">
        SELECT a.id, a.house_id, a.change_type, a.change_val,
               a.create_by, a.create_time, a.remark,
               b.room_num AS room_num, c.nick_name AS create_by_name,
               b.org_name AS org_name, b.unit_code AS unit_code,
               b.building_name AS building_name
        FROM pr_house_log a
        LEFT JOIN pr_house b ON a.house_id = b.id AND b.del_flag = '0'
        LEFT JOIN sys_user c ON c.id = a.create_by
        WHERE a.is_deleted = 0
        <if test="changeType != null and changeType != ''">
            AND a.change_type = #{changeType}
        </if>
        ORDER BY a.create_time DESC
    </select>

    <select id="selectUnitChangeData" resultType="org.sdkj.thermal.domain.PrHouseLog">
        SELECT a.id, a.house_id, a.change_type, a.change_val,
               a.create_by, a.create_time, a.remark,
               b.name AS room_num, c.nick_name AS create_by_name,
               d.name AS org_name, e.name AS building_name
        FROM pr_house_log a
        LEFT JOIN pr_unit b ON a.house_id = b.id
        LEFT JOIN pr_building e ON e.id = b.building_id
        LEFT JOIN sys_organization d ON d.id = b.org_id
        LEFT JOIN sys_user c ON c.id = a.create_by
        WHERE a.is_deleted = 0
        <if test="changeType != null and changeType != ''">
            AND a.change_type = #{changeType}
        </if>
        ORDER BY a.create_time DESC
    </select>

</mapper>
