<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sdkj.thermal.mapper.PrReconciliationDiffMapper">

    <select id="selectByBillId" resultType="org.sdkj.thermal.domain.PrReconciliationDiff">
        SELECT * FROM pr_reconciliation_diff
        WHERE bill_id = #{billId}
        ORDER BY create_time DESC
    </select>

    <select id="selectUnHandleDiffs" resultType="org.sdkj.thermal.domain.PrReconciliationDiff">
        SELECT * FROM pr_reconciliation_diff
        WHERE handle_status = '0'
        ORDER BY create_time DESC
    </select>

</mapper>
