<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sdkj.thermal.mapper.PrWechatBindRecordMapper">

    <insert id="insertData">
        insert into pr_wechat_bind_record(house_id, heat_pay_code, wx_open_id, org_id, org_name,
            building_id, building_name, unit_code, room_num, create_by, create_time)
        values(#{houseId}, #{heatPayCode}, #{wxOpenId}, #{orgId}, #{orgName},
            #{buildingId}, #{buildingName}, #{unitCode}, #{roomNum}, #{createBy}, now())
    </insert>

    <select id="getCountByHouseId" resultType="int">
        select count(1)
        from pr_wechat_bind_record
        where house_id = #{houseId}
            and create_by = #{createBy}
    </select>

</mapper>
