<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sdkj.meter.mapper.MtTcValveMapper">

    <delete id="deleteMeterMatch">
        DELETE FROM mt_meter_match WHERE archive_id = #{archiveId}
    </delete>

    <insert id="insertMeterToAgent">
        INSERT INTO mt_meter_match (id, archive_id, meter_type, create_by, create_time)
        VALUES (${@com.baomidou.mybatisplus.core.toolkit.IdWorker@getId()}, #{entity.id}, '31', #{entity.createBy}, NOW())
    </insert>

    <select id="selectAllMatchedValves" resultType="org.sdkj.meter.domain.vo.MtTcValveVo">
        SELECT a.id, a.code, a.name, a.specification, a.model, a.type,
               a.is_action, a.install_site, a.seq, a.is_enabled
        FROM mt_tc_valve a
        INNER JOIN mt_meter_match m ON a.id = m.archive_id
        WHERE m.meter_type = '31'
    </select>

    <update id="syncNameToHeatValveArchive">
        UPDATE pr_heat_valve_archive
        SET meter_arc_name = #{name}
        WHERE archive_id = #{archiveId}
    </update>

    <update id="syncNameToHeatUnitValveArchive">
        UPDATE pr_heat_unit_valve_archive
        SET meter_arc_name = #{name}
        WHERE archive_id = #{archiveId}
    </update>

</mapper>
