<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.thermal.mapper.PrOptionsMapper">

    <select id="selectByOrgId" resultType="org.dromara.thermal.domain.vo.PrOptionsVo">
        SELECT id, company_id, org_id, level, forbidden_buy_electric, forbidden_buy_water
        FROM pr_options
        WHERE org_id = #{orgId}
        LIMIT 1
    </select>

</mapper>
