<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.meter.mapper.MtMeterSortMapper">

    <select id="countBySortId" resultType="int">
        SELECT COUNT(id) FROM
        <choose>
            <when test="meterType == '01'">mt_electric_archive</when>
            <when test="meterType == '02'">mt_water_archive</when>
            <when test="meterType == '03'">mt_heat_archive</when>
            <when test="meterType == '04'">mt_gas_archive</when>
            <otherwise>mt_electric_archive</otherwise>
        </choose>
        WHERE sort_id = #{sortId}
    </select>

</mapper>
